
<script type="text/javascript" src="../js/materialize.js"></script>
<script type="text/javascript" src="../js/pagination.js"></script>

<script>

    $(document).ready(function () {
        $('.materialboxed').materialbox();
    });
    $(document).ready(function () {
        $('.tooltipped').tooltip();
    });
    $(document).ready(function () {
        $('.sidenav').sidenav();
    });
    $(document).ready(function () {
        $('.modal').modal();
    });
    $(document).ready(function () {
        $('.dropdown-trigger').dropdown();
    });
    $(document).ready(function () {
        $('select').formSelect();
    });
    
    //Este es el jquery de la paginacion de las tablas
    $(document).ready(function(){
      $('#my_pagination_table').pageMe({
        pagerSelector:'#myPager',
        activeColor: 'blue',
        prevText:'Anterior',
        nextText:'Siguiente',
        showPrevNext:true,
        hidePageNumbers:false,
        perPage:5
      });
    });
    
    
</script>
<noscript>
    <META HTTP-EQUIV="Refresh" CONTENT="0;URL=redireccionarPagina.html">
</noscript>

</html>