<!DOCTYPE html>
<html lang="es" class="html_admin">
<head>

    <meta charset="UTF-8">
    <!-- Titulo de la pagina web-->
    <title><?=$titulo?></title>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Staatliches">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Ubuntu">

    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="../css/materialize.css" media="screen,projection"/>

    <!--Esta es mi hoja de estilos css-->
    <link type="text/css" rel="stylesheet" href="../css/mystyles.css"/>

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>


</head>

<body class="body_admin">

<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

<div class=" ">
    <nav>
        <div class="nav-wrapper">
            <ul id="nav-mobile" class="right hide-on-med-and-down my_nav ">
                <li><a href="../sitio/_home_vista.php" class="nav_text hoverable my_header_admin">Sitio Web</a></li>
                <li><a href="../logout.php" class="nav_text hoverable my_header_admin">Cerrar sesión</a></li>
                <div style="float:right;">
                    <script type="text/javascript">
                        function startTime() {
                            today = new Date();
                            h = today.getHours();
                            m = today.getMinutes();
                            s = today.getSeconds();
                            m = checkTime(m);
                            s = checkTime(s);
                            document.getElementById('reloj').innerHTML = h + ":" + m;
                            t = setTimeout('startTime()', 500);
                        }

                        function checkTime(i) {
                            if (i < 10) {
                                i = "0" + i;
                            }
                            return i;
                        }

                        window.onload = function () {
                            startTime();
                        }
                    </script>
                    <div id="reloj" class="my_clock"></div>
            </ul>
        </div>
    </nav>
</div>


