<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><?=$titulo?></title>

    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Staatliches">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Ubuntu">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Fredoka One">

    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="../css/materialize.css" media="screen,projection"/>

    <!--Hoja de estilos de Parallax Web Solutions-->
    <link type="text/css" rel="stylesheet" href="../css/loginCSS.css"/>
    
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

     <!--Icono-->
    <link rel="shortcut icon" href="../images/Logo_Insitucion.ico"/>
    
    <!--Esta es mi hoja de estilos css-->
    <link type="text/css" rel="stylesheet" href="../css/mystyles.css"/>
    

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

</head>



