<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Actvar JavaScript</title>
    <link type="text/css" rel="stylesheet" href="../css/materialize.css" media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="../css/mystyles.css"/>
</head>
<body class ="body_error_java">

<div class="row center-align">
    <div class="col s12 m6">
        <div class="card red">
            <div class="card-content white-text">
                <span class="card-title">ERROR JAVASCRIPT</span>
                <p>Parece que Java Script no esta activado, porfavor siga los pasos para activarlo en el siguente link</p>
            </div>
            <div class="card-action">
                <a href="http://www.enable-javascript.com/es/" target="_blank">Link Para activar JavaScript</a>.
            </div>
        </div>
    </div>
</div>

</body>

<script type="text/javascript" src="../js/materialize.js"></script>
</html>