@keyframes dtb-spinner{100%{transform:rotate(360deg)}}
@-o-keyframes dtb-spinner{100%{-o-transform:rotate(360deg);transform:rotate(360deg)}}
@-ms-keyframes dtb-spinner{100%{-ms-transform:rotate(360deg);transform:rotate(360deg)}}
@-webkit-keyframes dtb-spinner{100%{-webkit-transform:rotate(360deg);transform:rotate(360deg)}}
@-moz-keyframes dtb-spinner{100%{-moz-transform:rotate(360deg);transform:rotate(360deg)}}

div.dt-button-info{
    position:fixed;
    top:50%;
    left:50%;
    width:400px;
    margin-top:-100px;
    margin-left:-200px;
    background-color:white;
    border:2px solid #111;
    border-radius:3px;
    text-align:center;
    z-index:21;
    font-family: monospace!important;
    padding-left: 5em !important;
}

div.dt-button-info h2{padding:0.5em;margin:0;font-weight:normal;border-bottom:1px solid #ddd;background-color:#f3f3f3}

div.dt-button-info>div{padding:1em}

div.dt-button-collection-title{text-align:center;padding:0.3em 0 0.5em;font-size:0.9em}

div.dt-button-collection-title:empty{display:none}

button.dt-button,div.dt-button,a.dt-button{
    position:relative;
    display:inline-block;
    box-sizing:border-box;
    margin-right:0.333em;
    margin-bottom:0.333em;
    padding:0.3em 0.9em;
    border:1px solid #1976D2; /*AQUI CAMBIO EL COLOR DE LOS BOTONES DE DESCARGA*/
    border-radius:2.2px;
    cursor:pointer;
    font-size:0.88em;
    font-family: Source+Sans+Pro;
    text-transform: uppercase!important;
    color: white !important;
    line-height:1.6em;
    white-space:nowrap;
    overflow:hidden;
    background-color: #1976D2; 
    
    
    /* AQUI ES EL COLOR DE DESCARGAS SIN SELECIONAR*/
}


button.dt-button.disabled,div.dt-button.disabled,a.dt-button.disabled{
    color:#999;
    cursor:default;
    background-color: blue !important;
}

button.dt-button:active:not(.disabled),button.dt-button.active:not(.disabled),div.dt-button:active:not(.disabled),div.dt-button.active:not(.disabled),a.dt-button:active:not(.disabled),a.dt-button.active:not(.disabled){
    background-color: #2196f3 !important;
}

button.dt-button:active:not(.disabled):hover:not(.disabled),button.dt-button.active:not(.disabled):hover:not(.disabled),div.dt-button:active:not(.disabled):hover:not(.disabled),div.dt-button.active:not(.disabled):hover:not(.disabled),a.dt-button:active:not(.disabled):hover:not(.disabled),a.dt-button.active:not(.disabled):hover:not(.disabled){
    
    background-color: #1565c0 !important;
    background-image:-webkit-linear-gradient(top, #1565c0 0%, #1565c0 100%);
    background-image:-moz-linear-gradient(top, #1565c0 0%, #1565c0 100%);
    background-image:-ms-linear-gradient(top, #1565c0 0%, #1565c0 100%);
    background-image:-o-linear-gradient(top, #1565c0 0%, #1565c0 100%);
    background-image:linear-gradient(to bottom, #1565c0 0%, #1565c0 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#1565c0', EndColorStr='#1565c0')
}

button.dt-button:hover,div.dt-button:hover,a.dt-button:hover{
    text-decoration:none
}

button.dt-button:hover:not(.disabled),div.dt-button:hover:not(.disabled),a.dt-button:hover:not(.disabled){
    background-color:#1e88e5;
    background-image:-webkit-linear-gradient(top, #1e88e5 0%, #1e88e5 100%);
    background-image:-moz-linear-gradient(top, #1e88e5 0%, #1e88e5 100%);
    background-image:-ms-linear-gradient(top, #1e88e5 0%, #1e88e5 100%);
    background-image:-o-linear-gradient(top, #1e88e5 0%, #1e88e5 100%);
    background-image:linear-gradient(to bottom, #1e88e5 0%, #1e88e5 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#1e88e5', EndColorStr='#1e88e5')}

button.dt-button:focus:not(.disabled),div.dt-button:focus:not(.disabled),a.dt-button:focus:not(.disabled){
    outline:none;
    background-color: #1e88e5;
    background-image:-webkit-linear-gradient(top, #1e88e5 0%, #1e88e5 100%);
    background-image:-moz-linear-gradient(top, #1e88e5 0%, #1e88e5 100%);
    background-image:-ms-linear-gradient(top, #1e88e5 0%, #1e88e5 100%);
    background-image:-o-linear-gradient(top, #1e88e5 0%, #1e88e5 100%);
    background-image:linear-gradient(to bottom, #1e88e5 0%, #1e88e5 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#1e88e5', EndColorStr='#1e88e5')
}


.dt-button embed{
    outline:none
}

div.dt-buttons{
    position:relative;
    float:left
}

div.dt-buttons.buttons-right{
    float:right
}

div.dt-button-collection{
    position:absolute;
    top:0;
    left:0;
    width:150px;
    margin-top:3px;
    padding:8px 8px 4px 8px;
    padding-left: 5em !important;
    background-color: blue;
    overflow:hidden;
    z-index:2002;
    border-radius:5px;
    box-shadow:3px 3px 5px rgba(0,0,0,0.3);
    -webkit-column-gap:8px;
    -moz-column-gap:8px;
    -ms-column-gap:8px;
    -o-column-gap:8px;
    column-gap:8px
}

div.dt-button-collection button.dt-button,div.dt-button-collection div.dt-button,div.dt-button-collection a.dt-button{
    position:relative;
    left:0;
    right:0;
    width:100%;
    display:block;
    float:none;
    margin-bottom:4px;
    margin-right:0;
    padding-left: 5em;
}

div.dt-button-collection button.dt-button:active:not(.disabled),div.dt-button-collection button.dt-button.active:not(.disabled),div.dt-button-collection div.dt-button:active:not(.disabled),div.dt-button-collection div.dt-button.active:not(.disabled),div.dt-button-collection a.dt-button:active:not(.disabled),div.dt-button-collection a.dt-button.active:not(.disabled){
    background-color:#1e88e5;
    background-image:-webkit-linear-gradient(top, #1e88e5 0%, #1e88e5 100%);
    background-image:-moz-linear-gradient(top, #1e88e5 0%, #1e88e5 100%);
    background-image:-ms-linear-gradient(top, #1e88e5 0%, #1e88e5 100%);
    background-image:-o-linear-gradient(top, #1e88e5 0%, #1e88e5 100%);
    background-image:linear-gradient(to bottom, #1e88e5 0%, #1e88e5 100%);
    box-shadow:inset 1px 1px 3px #666;
    padding-left: 5em;
}

div.dt-button-collection.fixed{
    position:fixed;
    top:50%;
    left:50%;
    margin-left:-75px;
    border-radius:0;
    padding-left: 5em;
}

div.dt-button-collection.fixed.two-column{
    margin-left:-150px
}

div.dt-button-collection.fixed.three-column{
    margin-left:-225px
}

div.dt-button-collection.fixed.four-column{
    margin-left:-300px
}

div.dt-button-collection>*{
    -webkit-column-break-inside:avoid;
    break-inside:avoid
}

div.dt-button-collection.two-column{
    width:300px;
    padding-bottom:1px;
    padding-left: 5em;
    -webkit-column-count:2;
    -moz-column-count:2;
    -ms-column-count:2;
    -o-column-count:2;
    column-count:2
}

div.dt-button-collection.three-column{
    width:450px;
    padding-bottom:1px;
    padding-left: 5em;
    -webkit-column-count:3;-moz-column-count:3;
    -ms-column-count:3;-o-column-count:3;
    column-count:3
}

div.dt-button-collection.four-column{
    width:600px;
    padding-bottom:1px;
    -webkit-column-count:4;
    -moz-column-count:4;
    -ms-column-count:4;
    -o-column-count:4;
    column-count:4;
    padding-left: 5em;
}

div.dt-button-collection .dt-button{
    border-radius:0
}

div.dt-button-background{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    padding-left: 3em;
    background:rgba(0,0,0,0.7);
    
    background:-ms-radial-gradient(center, ellipse farthest-corner, blue 0%, rgba(0,0,0,0.7) 100%);
    
    background:-moz-radial-gradient(center, ellipse farthest-corner, rgba(0,0,0,0.3) 0%, rgba(0,0,0,0.7) 100%);
    
    background:-o-radial-gradient(center, ellipse farthest-corner, rgba(0,0,0,0.3) 0%, rgba(0,0,0,0.7) 100%);
    
    background:-webkit-gradient(radial, center center, 0, center center, 497, color-stop(0, rgba(0,0,0,0.3)), color-stop(1, rgba(0,0,0,0.7)));
    
    background:-webkit-radial-gradient(center, ellipse farthest-corner, rgba(0,0,0,0.3) 0%, rgba(0,0,0,0.7) 100%);
    
    background:radial-gradient(ellipse farthest-corner at center, rgba(0,0,0,0.3) 0%, rgba(0,0,0,0.7) 100%);
    
    z-index:2001
}

@media screen and (max-width: 640px){
    div.dt-buttons{
        float:none !important;
        text-align:center
    }
}

button.dt-button.processing,div.dt-button.processing,a.dt-button.processing{
    color:rgba(0,0,0,0.2)
}

button.dt-button.processing:after,div.dt-button.processing:after,a.dt-button.processing:after{
    position:absolute;
    top:50%;
    left:50%;
    width:16px;
    height:16px;
    margin:-8px 0 0 -8px;
    box-sizing:border-box;
    display:block;
    content:' ';
    border-radius:50%;
    border-left-color:transparent;
    border-right-color:transparent;
    animation:dtb-spinner 1500ms infinite linear;
    -o-animation:dtb-spinner 1500ms infinite linear;
    -ms-animation:dtb-spinner 1500ms infinite linear;
    -webkit-animation:dtb-spinner 1500ms infinite linear;
    -moz-animation:dtb-spinner 1500ms infinite linear;
    padding-left: 3em;
}