html,
body {
    height: 50%;
}

html {
    display: table;
    margin: auto;
}

body {
    display: table-cell;
    vertical-align: middle;
    background-image: linear-gradient(#7dcdc4, #136a96);
    /*background: #7dcdc4;*/
}

#login-page {
    width: 600px;
}

h2 {
    text-align: center;
    color: white;
}

img.logo-login {
    width: 40%;
    position: relative;
    align: center;


}

.card {
    position: absolute;
    left: 50%;
    top: 50%;
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.colores {
    color: red;
    text-align: center;
}