html,

body {
    height: 50%;
}
html {
    display: table;
    margin: auto;

}
body {
    display: table-cell;
    vertical-align: middle;
    background: #7dcdc4;

}

#login-page {
    width: 600px;

}

h2{
    text-align: center;
    color: white;
}
img.logo-login{
    width: 40%;
    position: relative;
    align: center;


}

.card {
    position: absolute;
    left: 50%;
    top: 50%;
    box-shadow: #0d3d63;
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);



}