

.error_javascript{
    align-items: center;
}
.body_error_java{
    background: aliceblue;
    align-items: center;
    padding-left: 30%;
    padding-top: 10%;

}
.apoyanos{
    font-family: Ubuntu;
    color: #0d3d63;
    font-size: 1em;
    text-align:left;
}
.my_small_modal {
    width: 60% !important;
    max-height: 70% !important;
    height: 70% !important;
    top: 0 !important;
    margin: 10px;
    overflow-y: hidden
}

.my_clock {
    font-size: 25px;
    font-family: Staatliches;
    color: #0d3d63;
    margin-right: 1em;


}

.my_card_small {
    position: relative;
    margin: 0.5rem 0 1rem 0;
    background-color: #fff;
    -webkit-transition: -webkit-box-shadow .25s;
    transition: -webkit-box-shadow .25s;
    transition: box-shadow .25s;
    transition: box-shadow .25s, -webkit-box-shadow .25s;
    border-radius: 2px;

}

.nav_text {
    font-family: Staatliches;
    font-size: 1.3em;
    letter-spacing: 0.05em;
    color:white;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
}

audio {
    border: 0;
    margin: 0;
    padding: 0;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

table {
    margin: 0;
    border: 0;
}

header {
    background-size: 1350px 820px;
    height: 250px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    font-family: 'bebas_neueregular';
    font-weight: normal;
    font-style: normal;
    font-size: 70px;
    color: white;
    padding-top: 40px;
}

h6 {
    margin: 0;
    opacity: 0;
}

.textfield {
    font-size: 30px;
    font-family: Roboto;
    margin: auto;
    text-align: center;
    align-content: center;
    align-items: center;
    align-self: center;
    display: block;
    color: gray;
}

.basiclabel {
    font-size: 30px;
    margin: auto;
    text-align: center;
    align-content: center;
    align-items: center;
    align-self: center;
    display: block;
}

#labelmistake, .labelmistake {
    font-size: 30px;
    margin: auto;
    text-align: center;
    align-content: center;
    align-items: center;
    align-self: center;
    display: block;
    color: indianred;
}

#labelcorrect, .labelcorrect {
    font-size: 30px;
    margin: auto;
    text-align: center;
    align-content: center;
    align-items: center;
    align-self: center;
    display: block;
    color: limegreen;
}

#labelsecurity {
    font-size: 30px;
    margin: auto;
    text-align: center;
    align-content: center;
    align-items: center;
    align-self: center;
    display: block;
    color: limegreen;
}


.mybuttons {
    font-family: Roboto;
    font-size: 30px;
    margin: auto;
    text-align: center;
    align-content: center;
    align-items: center;
    align-self: center;
    display: block;
    color: white;
    background-color: #3a3b51;
    border: none;
}

.myBigButton {
    font-family: Roboto;
    font-size: 30px;
    margin: auto;
    text-align: center;
    align-content: center;
    align-items: center;
    align-self: center;
    display: block;
    color: white;
    width: 5em;
    height: 5em;
    background-color: #4c5cee;
    border: none;
}


.first_table {
    width: 100%;
    text-align: center;
    background-color: rgba(4, 7, 12, 0.75);
    table-layout: fixed;
    word-wrap: break-word;
    padding-top: 10px;
}

.second_table {
    width: 100%;
    text-align: left;
    background-color: rgba(4, 7, 12, 0.75);
    table-layout: fixed;
    word-wrap: break-word;
    height: 100%;
}

.third_table {
    width: 100%;
    text-align: left;
    background-color: rgba(4, 7, 12, 0.75);
}

.img_cell {
    padding: 20px;
}

.table_text {
    font-family: Roboto;
    font-size: 20px;
    padding-left: 70px;
    padding-right: 70px;
    padding-top: 20px;
    padding-bottom: 20px;

}

.information {
    font-family: 'bebas_neueregular';
    font-size: 30px;
    color: white;
    margin-top: 0px;
}

video {
    position: inherit;
    min-width: 100%;
    overflow: hidden;
    z-index: -1;
}

.body {
    height: 100%;
    height: auto;
    margin: 0;
}

.parallax2 {
    /* The image used */


    /* Full height */
    height: auto;
    height: 100%;
    margin: 0;
    transform-style: preserve-3d;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    will-change: transform;
    will-change: scroll-position;
    transition-timing-function: steps();
    background-color: white;

}

.information {
    box-sizing: content-box;
    height: 100%;
    height: auto;
}

footer {
    background-color: #16181c;
    font-family: 'bebas_neueregular';
    font-weight: normal;
    font-style: normal;
    font-size: 30px;
    color: white;
    margin: 0 auto;
}

section {
    margin: 0;
}

input {
    font-family: 'bebas_neueregular';
}

.boton_sumar, .boton_restar {
    font-family: 'bebas_neueregular';
    border-color: rgba(255, 255, 255, 1);
    border-radius: 50px 50px 50px 50px;
    background-color: #141e2b;
    font-size: 30px;
    color: white;
}

.boton_restar {
    font-size: 30px;
}

#carrito {
    font-size: 20px;
}

#validar1, #validar2, #validar3 {
    color: limegreen;
}

#cita {
    font-size: 20px;
}

.watermark {
    z-index: 99;

    margin-left: 4em;
    border: 0;
    padding: 0;
}

.my_header_text {
    font-family: Staatliches;
    padding-top: 1em;
    font-size: 2em;
}

.my_normal_text {
    font-size: 1.5em;
    font-family: Ubuntu;
    text-align: justify;
    text-justify: inter-word;

}

.my_heading_text {
    font-family: Staatliches;
    color: #0d3d63;
    font-size: 4em;
    vertical-align: text-bottom !important;
}

.my_heading_text_medium {
    font-family: Staatliches;
    color: #0d3d63;
    font-size: 3.3em;
    padding: 0.2em;
}

.my_table {
    background-color: rgba(41, 80, 152, 0.7);
    height: auto;
    height: 100%;
    font-family: Ubuntu;
    color: white;
    font-size: 1.5em;
    align-content: center;
    text-align: center;
}

.my_table2 {
    background-color: rgba(63, 127, 191, 0.7);
    height: auto;
    height: 100%;
    font-family: Ubuntu;
    color: white;
    font-size: 1.5em;
    align-content: center;
    text-align: center;
    padding: 1em;
    margin: 1em;
}

.my_data_table {
    margin: 20px;
    table-layout: fixed;
    width: 100%;
}

.my_parallax_container {
    height: auto;
    height: 100%;
}

.card_text {
    color: #455a64;
    font-size: 0.8em !important;
    text-align: justify;
}

.my_card {
    opacity: 1;
    margin: 0 auto;
    border: 0;
    width: 70%;
    font-size: 0.8em;
    height: 100%;
}


.my_table_title {
    font-family: Staatliches;
    font-size: 400%;
}

.my_table_title2 {
    font-family: Staatliches;
    font-size: 300%;
}

.my_title_icon {
    font-size: 1.5em;
    vertical-align: text-bottom;
}

.my_title_icon_middle {
    font-size: 1.5em;
    vertical-align: text-top;
}

.my_title_icon_user{
    font-size: 1.7em;
    vertical-align: text-bottom;
}

.myButtonIcon {

    font-size: 1.5em;

}

.my_copyright {
    font-size: 0.5em;
    text-align: center;
}

.table_icon {
    vertical-align: baseline;
    font-size: 120% !important;
}

.my_footer {
    background-color: #2d5d86;
    font-family: Staatliches;
}

.logo_foot {
    vertical-align: bottom;
}

.carousel_item_text_align {
    padding: 50px;
    text-align: justify;
    text-justify: inter-word;
}

.wrapper{
    padding-left: 22em;
    /*font-family: Ubuntu;*/
}

.body_admin{
    background-image: url("../images/generalwall.jpg");
    object-fit: cover;
    
}

@media only screen and (max-width: 992px) {
    .wrapper {
        padding-left: 0px;
    }
}

.my_modal_header_row {
    position: fixed;
    z-index: 99;
    border: 0;
    margin: 0 auto;

}

.my_modal_header {
    font-family: Staatliches;
    font-size: 2.5em;
    color: white;
    padding-left: 1em;
    padding: 0.5em;
    z-index: 99;
}

.my_modal_header1 {
    background-color: #342d96;
    margin: 0 auto;
    border: 0;
    position: fixed;
    width: 100%;
    height: 6em;

}

.my_modal_header_editar {
    background-color: #ffb300;
    margin: 0 auto;
    border: 0;
    position: fixed;
}


.my_modal_header_eliminar {
    background-color: #f44336;
    margin: 0 auto;
    border: 0;
    position: fixed;
    z-index: 99;
}

.my_modal_header_estado {
    background-color: #00bfa5;
    margin: 0 auto;
    border: 0;
    position: fixed;
    z-index: 99;
}

.my_modal_header_tutor {
    background-color: #d81b60;
    margin: 0 auto;
    border: 0;
    position: fixed;
    z-index: 99;
}


.my_modal_header2 {
    font-family: Staatliches;
    font-size: 2.5em;
    color: #ff2348;
    margin: 0 auto;
}

.my_modal {
    background-color: white;
}


.my_modal_description2 {
    text-align: center;
}

.my_modal_buttons {
    text-align: center;
}

.my_modal_content {
    color: #1c2e4c;
}

.first_col_data_table {
    padding-left: 1em;
}

.sections_header {
    padding-left: 2.5em;
    padding-top: 0em !important;
}

.my_search {
    color: #673ab7;
}

.no_margin {
    margin: 0 auto;
}

.margin_section {
    margin: auto;
    border: white;
    border-width: thick;
    width: 100%;
}

.my_table_headers {
    color: dimgray;
}

.modal {
    background-color: white;
}

.close_style {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 20px;
    color: white;
    cursor: pointer;
}

.my_big_modal {
    width: 99% !important;
    max-height: 97% !important;
    height: 98% !important;
    top: 0 !important;
    margin: 10px;
    overflow-y: hidden
}
.my_big_modal_rol {
    width: 70% !important;
    max-height: 97% !important;
    height: 98% !important;
    top: 0 !important;
    margin-left: 15%;
    align-self: center !important;
    overflow-y: hidden
}

.my_big_modal_proveedor {
    width: 60% !important;
    max-height: 97% !important;
    height: 80% !important;
    top: 0 !important;
    margin: 10px;
    overflow-y: hidden
}

.my_alert {
    z-index: 999 !important;
}


.flexbox {
    display: flex;
    justify-content: center;
    align-items: center;
}

.my_side_nav {
    font-family: Staatliches;
    background-image: url("../images/navwall.jpg");
    font-size: 1.5em;
}

.my_icon_align {
    vertical-align: bottom;
    color: #ffc107;
}

[type="checkbox"].filled-in:checked + span:not(.lever):after {
    top: 0;
    width: 20px;

    height: 20px;

    /*border: 2px solid #e6ee9c;*/
    border: 0;

    background-color: #1e88e5;

    z-index: 0;
}

.my_add_button_container {
    padding-top: 1.5em;
    padding-left: 4em;
}

.my_header_admin {
    color: #0d3d63;
}

.new_data_table {
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
}

.html_admin, .body_admin {
    width: 100% !important;
    height: 100% !important;
    margin: 0px;
    padding: 0px;
}

my_search_button {
    position: relative;
    right: 0;
    bottom: 0;
}

my_search {
    position: absolute;
}

.mi_titulo {
    font-family: Staatliches;
    color: #0d3d63;
    font-size: 1.5em;
    margin: 0 !important;
    display: inline-block;
}

.mi_parrafo {
    font-family: Ubuntu;
    color: #0d3d63;
    font-size: 1.2em;
    margin: 0 !important;
    display: inline-block;
}

.my_form_title {
    font-family: Staatliches;
    color: white;
    font-size: 2.3em;
    padding: 0.4em !important;
    padding-left: 1em !important;
}

.card-stacked {
    max-height: 100%;
    display: inline-block;
}

.card .card-content {
    padding: 15px 25px !important;
}

.card-action {
    padding: 5px 25px !important;
}

.my_card_image {
    position: relative;
    float: left;
    width: 10em;
    height: 10em;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

.nav-container {
  height: 5em;
  width: 100%;
  position: fixed;
  color: white;
  letter-spacing: 0.025em;
  transition: background-color 0.2s linear;
  z-index: 999999;
}
  
.solid-nav {
    background-color: white;
    transition: background-color 0.2s linear;
    color: blue !important;
  }
  
    
.nav-logo {
    display: inline-block;
    
}
    
.nav-controls {
    float: right;
    padding-top: 0.5em;
}

.my_nav_option{
    padding-left: 1em;
}

.my_logo{
    padding-top: 0 !important;
    margin:0 auto;
}

.my_text_shadow{
  
  text-decoration: underline;
  transition: all 0.2s linear;
}

.my_text_noshadow{
  text-shadow: rgba(255,0,0,0);
  transition:  text-shadow 0.2s linear;
}

.my_heading_text_one{
    color: rgba(34, 167, 171, 1) !important;
    font-family: Staatliches;
    font-size: 4em;
    padding: 0.2em;
    letter-spacing: 0.035em;
}


.mision_header{
    color: #ffb300; 
    font-size:2em;
    font-family:Fredoka One;
}



.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  height:50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #00aced;
  color: white;
}

.footer-distributed{
	background-color: #01579b;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	padding: 55px 50px;
	font-size: 1em !important;
	color: white;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
	width: 40%;
}

/* The company logo */

.footer-distributed h3{
	color: white;
	margin: 0;
}

.footer-distributed h3 span{
	color:  white;
}

/* Footer links */

.footer-distributed .footer-links{
	color:  white;
	margin: 20px 0 12px;
	padding: 0;
}

.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  white;
}

.footer-distributed .footer-company-name{
	color:  white;
	font-size: 14px;
	margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center{
	width: 35%;
}

.footer-distributed .footer-center i{
	background-color: #ff9800;
	color: white;
	font-size: 30px;
	width: 58px;
	height: 58px;
	text-align: margin-top;
	line-height: 15px;
	margin: 10px 15px;
	vertical-align: margin-top;
}

.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 14px;
}

.footer-distributed .footer-center p{
	display: inline-block;
	color: white;
	vertical-align: middle;
	margin:0;
}

.footer-distributed .footer-center p span{
	display:block;
	font-size:14px;
	line-height:2;
}

.footer-distributed .footer-center p a{
	color:  white;
	text-decoration: none;
}


/* Footer Right */

.footer-distributed .footer-right{
	width: 20%;
}

.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  white;
	font-size: 20px;
	margin: 0;
}

.footer-distributed .footer-company-about span{
	display: block;
	color: white;
	font-size: 18px;
	margin-bottom: 20px;
}

.footer-distributed .footer-icons{
	margin-top: 25px;
}

.footer-distributed .footer-icons a{
	display: inline-block;
	width: 60px;
	height: 60px;
	cursor: pointer;
	background-color:  white;
	border-radius: 50px;

	font-size: 25px;
	color: #ffffff;
	text-align: center;
	line-height: 1px;

	margin-right: 1em;
	margin-bottom: 5px;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 880px) {

	.footer-distributed{
		font: bold 14px sans-serif;
	}

	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		text-align: center;
	}

	.footer-distributed .footer-center i{
		margin-left: 0;
	}

}

.my_footer_title {
    font-family: Fredoka One;
    font-size: 2.8em;
    letter-spacing: 0.05em;
    text-decoration: none !important;
}

.generar_reporte{
    font-family:Staatliches; 
    font-size:2em;
}

.form_fecha_inicial_final{
    padding-left:3em;
}

#grafica_empresa{
    overflow-x: scroll !important;
    overflow-y: auto !important;
}

.ubuntu-text{
    font-family: Ubuntu;
}

@media all and (min-width:0px) and (max-width: 480px){
    
   
    
  .mariana_title
  {
    font-size: 3em;
    font-family: Fredoka One;
    color: rgba(34, 167, 171, 1) !important;
    padding-top: 1em;
    padding-bottom: 1.5em;
    letter-spacing: 0.035em;
  }
  
  .logo_principal {
    width: 75%;
    position: absolute;
    z-index: 99;
    display: block;
    margin-left: 13%;
    margin-top: 20%;
    }
    
    .my_carousel_parallax{
        max-height: 75% !important;
    }

    .my_carousel_image{
        max-height: 75% !important;
    }
    
   
    .my_carousel_item{
        max-height: 75% !important;
    }
    
    .my_image_device{
        object-fit: cover; 
       max-width: 100% !important;
       max-height: 75% !important;
    }
    
    .my_carousel_parallax2{
         max-height: 80% !important;
    }
    
    .my_carousel_image2{
        max-height: 80% !important;
    }
    
    
     .my_image_device2{
        object-fit: cover; 
       max-width: 100% !important;
       max-height: 80% !important;
    }
    
    .watermark_mobile{
        width: 70px;
    }
    
    .nav-row{
        width: 100%;
        margin: 0 auto;
        padding-left: 1em;
        padding-right: 3em;
        padding-top: 1em;
    }
    
    .values{
        background: linear-gradient(135deg, #1a2674 0%, #3d6da8 22%, #2e8ac7 53%, #3d2c81 100%);
        height: auto;
        height: 90%;
        font-family: Ubuntu;
        color: white;
        font-size: 1.6em;
        margin: 0 auto;
    
    }

    .values_text{
        font-family: Fredoka One; 
        font-size: 1.5em;
    }
    
    .values_row{
        padding-left: 1.2em;
        padding-right: 0em !important;
        padding-top: 1.5em;
        padding-bottom: 1em;
    }
    
    .my_space_values{
        padding-top: 0em; 
        padding-bottom: 0em
    }
    
     .my_space_cards{
        padding-top: 0em; 
        padding-bottom: 0em;
        font-size: 0.001em;
        color: grey;
    }
    
    .my_card_title {
        font-family: Fredoka One;
        font-size: 130% !important;
        text-shadow: 5px 5px rgba(19, 28, 43, 0.8);
        letter-spacing: 2px;
    }
    
    .my_card_title2 {
        color: #00bfa5;
        font-family: Fredoka One;
        font-size: 100% !important;
        letter-spacing: 2px;
    }
    
     .my_parallax_title{
        font-family: Fredoka One;
        padding-top: 0.5em;
        font-size: 0.8em;
    }
    
    .container_small{
        max-height: 375px;
    }
    
    .my_image_device2{
        object-fit: cover;
    }
    
    .first-container{
         max-height: 20em;
    }

  
}

@media all and (min-width:481px) and (max-width: 10000px) {
    
    .mariana_title
  {
    font-size: 3.5em;
    font-family:Fredoka One;
    color: rgba(34, 167, 171, 1) !important;
    padding: 0.7em;
    padding-top: 1em;
    letter-spacing: 0.035em;
  }
  
.logo_principal {
    width: 50%;
    position: absolute;
    z-index: 99;
    display: block;
    margin-left: 25%;
    margin-top: 5%;
    }
    
    .my_carousel_parallax{
        height: 455px;
    }
    
     .my_image_device{
        object-fit: cover; 
        max-width: 50% !important;
    }
    
    .my_carousel_parallax2{
        height: 500px;
    }
    
    .footer-distributed{
        height:600px;
    }
    
     .my_image_device2{
        object-fit: cover; 
        max-width: 80% !important;
    }
    
    .watermark_mobile{
        width: 90px;
    }
    
    .nav-row{
        width: 100%;
        margin: 0 auto;
        padding-left: 5em;
        padding-right: 3em;
        padding-top: 1em;
    }
    
    .values{
        background: linear-gradient(135deg, #1a2674 0%, #3d6da8 22%, #2e8ac7 53%, #3d2c81 100%);
        height: auto;
        height: 100%;
        font-family: Ubuntu;
        color: white;
        font-size: 1.5em;
        padding-right: 4.5em;
    
    }

    .values_text{
        font-family: Fredoka One; 
        font-size: 1.5em;
    }
    
    .values_row{
        padding-left: 10em;
        padding-right: 0em !important;
        padding-top: 4em;
        padding-bottom: 3em;
    }
    
    .my_space_values{
        padding-top: 1em; 
        padding-bottom: 1em
    }
    
     .my_space_cards{
        padding-top: 1em; 
        padding-bottom: 1em;
        font-size: 0.001em;
        color: grey;
    }
    
    .my_card_title {
        font-family: Fredoka One;
        font-size: 150% !important;
        text-shadow: 5px 5px rgba(19, 28, 43, 0.8);
        letter-spacing: 2px;
    }
    
    .my_card_title2 {
        color: #00bfa5;
        font-family: Fredoka One;
        font-size: 150% !important;
        letter-spacing: 2px;
    }
    
    .my_parallax_title{
        font-family: Fredoka One;
        padding-top: 1.5em;
        font-size: 1.3em;
    }

}

